[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-cov = "*"
codecov = "*"
pytest = "*"

[dev-packages]
twine = "*"
pytest = "*"
tox = "*"
tox-pyenv = "*"
tox-travis = "*"

[requires]
python_version = "3.6"

[scripts]
test = "tox"
pytest = "python -m pytest --cov=pino"
build = "python setup.py sdist bdist_wheel"
publish = "twine upload dist/*"
